body, html {
    height: 100%;
}

body {
    font: 16px/1.2em "Lucida Grande", Helvetica, Arial, sans-serif !important;
    line-height: 1.5em;
    color: #ffffff !important;
}

p {
    line-height: 1.5em;
}

a {
    /*color: #00B7FF;*/
    color: #ffffff !important;
}

ul li {
    display: inline;
    margin-right: 1em;
}
.services_img {
    max-height: 17vh;
    max-width: 17vh;
}

a > img {
    text-decoration: none;
}

@media(min-width: 768px) {
    .parallax  {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img.navbar-brand {
        margin-right: 20%;
        width: 100%;
    }
}
@media(max-width: 767px) {
    #form-div,
    #contact-div {
        min-width: 50vw;
    }

    #form-div {
        margin-bottom: 5vh;
    }
}

ul.navbar-nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#navbar {
    background-color: transparent;
    /*position: fixed;
    width: 100%;
    transition: top 0.6s;
    opacity: 1.5;
    filter: alpha(opacity=150); /* For IE8 and earlier */
    /*background-image: linear-gradient(
        rgba(114, 32, 113, 0.75),
        rgba(114, 32, 113, 0.75)
    );*/
}

.logo {
    max-width: 10%;
    max-height: 5%;
    min-width: 5em;
}

div.small {
    width: 5%
}

div.large {
    width: 1vw;
}

div#hr {
    margin-bottom: 3%;
}

.divtable {
    width: 23%;
    margin-right: 2%;
    min-width: 10em;
}

/*.divtable p {
    text-align: center;
}*/

div.main {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5% 0%;
}

footer > div.main {
    padding: 2% 0%;
}

footer {
    background-color: #2f2e2e;
}

p.huge {
    font: bold calc(5vw + 1em)/0.9em raleway, sans-serif;
}

p.medium {
    font: calc(1vw + 1em)/0.9em raleway, sans-serif;
}

div.header {
    margin-bottom: 5em;
    width: 67%;
}

p.middle {
    letter-spacing: 0.25em;
    font: bold calc(2vh + 1em)/0.9em raleway, sans-serif
}

.altfont {
    color: #1B1B1E !important;
}
.purplefont {
    color: #9E60C4;
}

hr#main-hr {
    border-top: 2px solid #ffffff;
}

hr.hline {
    border-top: 10px solid #ffffff;
}

hr.sline {
    border-top: 6px solid #ffffff;
}

hr.hline.purple {
    border-top: 10px solid #9E60C4;
}

hr.sline.purple {
    border-top: 6px solid #9E60C4;
}

.separate {
    margin-top: 6%
}

.impact {
    font: 18px/0.9 Impact;
    color: #000000;
}

p.nimbus {
    font-family: Nimbus Sans;
    font-size: calc(.1vw + 1em);
}

.section_footer {
    margin: 8vh 0 2vh 0;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

div.inline {
    display: inline-block;
}

div.center-flex{
    display: flex;
    justify-content: center
}

.inline-center {
    text-align: center;
}

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.flex-middle {
    align-items: center;
}

.hidden {
    display: none;
}

.slideshow-container {
    position: relative;
    margin: 8vh auto;
    max-width: 75%;
    height: 50vh;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 100%;
}

.slides img {
    position: absolute;
    margin: auto;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
    animation: fade 1.5s forwards;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#section_1 {
    background-image: url("/images/1.jpg");
}
#section_2 {
    background: #42484D none repeat scroll 0% 0%;
}
#section_3 {
    /*background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.75)
        ),
        url("/images/2.jpg");*/
        background-image: url("/images/2.jpg");
    background-size: cover
}

#section_4 {
    background: #dadada none repeat scroll 0% 0%
}

/*#section_5 {
    background-image: url("/images/5.png");
}

#section_5 .divtable {
    display: flex;
}

#section_5 .divtable p {
    letter-spacing: 0.2em;
    padding: 0em 8em 4em 0em;
    /*font: normal normal bold 16px/1.4em raleway,sans-serif;*/
/*}*/

#section_5 .main {
    overflow: auto;
}

#media_icons {
    width: 100%;
    height: auto;
    margin-bottom: 3vh;
}

#about_div p {
    margin-bottom: 3vh;
}

#form-div {
    width: 60%;
    float: left;
}

#form-div form {
    width: 100%;
}

#contact-div {
    width:  40%;
    padding: 0em 2em;
    float: right;
}

#contact-div p {
    line-height: 1.4em;
}

#name {
    float: left;
    width: 45%;
}

#email {
    float: right;
    width: 45%;
}

#submit {
    background: #9e60c4;
    color: white;
    padding: 0.7em 0em;
    width: 100%;
}

#copyright {
    padding-top: 2%;
}

#followus-shaper {
    height: 40vh;
    width: 40vh;
    margin-left: auto;
}

#followus {
    border-radius: 50%;
    behavior: url(PIE.htc);
    height: 100%;
    width: 100%;
    background-color: #0751E0;
    margin-left: auto;
    display: table;
}

#followus-subcontainer {
    width: 80%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
}

#followus-subcontainer p {
    margin-top: 3vh;
}

#media {
    display: inline;
}

#followus div p {
    font-size: 1.5em;
    font-style: bold;
}

#followus div ul {
    padding: 0;
}

#followus-hr {
    border-top: 3px solid #ffffff;
    width: 90%;
}

form > div > textarea {
    resize: none;
}

.form-control {
    margin-bottom: 2%;
}

#coming_soon {
    background-color: #9e60c4
}

#cs_main {
    text-align: center;
    display: table;
    height: 100%;
    margin: 0 auto;
}

#cs_container {
    display: table-cell;
    vertical-align: middle;
}

#cs_container img {
    margin-bottom: 4vh;
    max-width: 40vh
}

.parag_bottom {
    margin-bottom: 5vh;
}

#cs_email {
    float: left;
    margin: auto auto 1em auto;
}

#cs_phone {
    float: right;
    margin: auto auto 1em auto;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

#snackbar.show {
    visibility: visible;

    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 