<div class="d-grid">
    <strong class="inline-center altfont">ORGANIC SEARCH</strong>
    <img class="margin-center" src="/images/organic_search.png" alt="Illustration of a graph representing Organic Search (SEO) Growth"/>
</div>
<p class="altfont nimbus justify">
    <strong class="purplefont">Upgency</strong> provides services such as full website analysis - Opportunity Analysis -
    Competitor Analysis - Monitoring Search Performance - Keyword Research - Seasonality Analysis - Local SEO Optimisation
    – Metadata, Content Recommendations and much more,
    <a href="#" id="sect3_tocontact"><strong class="purplefont">click here to start pushing your business UP today!</strong></a>
</p>

<div class="d-grid">
    <strong class="inline-center altfont">SOCIAL MEDIA ORGANIC OPTIMISATION</strong>
    <img class="margin-center" src="/images/social_media.png" alt="Illustration of a liked post representing Social Media Growth"/>
</div>
<p class="altfont nimbus justify">
    <strong class="purplefont">Upgency</strong> will provide a full social media channels audit - Opportunity Analysis -
    Competitor Analysis - Monitoring Performance - A/B Testing to find optimal posting times and outreach - Optimisation
    of YouTube videos following YouTube best practice and much more using the main Social Media Channels such as Facebook,
    Twitter, Instagram, YouTube.
    <strong>Get UP</strong> there in Google rankings whilst remaining social and the talk of the town! Plus of course measuring,
    tracking and reporting on your website comes as standard on all packages.
    <strong class="purplefont">Start now!</strong>
</p>

<div class="d-grid">
    <strong class="inline-center altfont">CONTENT AND BLOG RECOMMENDATIONS</strong>
    <img class="margin-center" src="/images/context_recom.png" alt="Illustration of a Message writing text representing Content and Blog Production"/>
</div>
<p class="altfont nimbus justify">
    <strong class="purplefont">Upgency</strong> can help also the clients who like to think a little bigger and want to push
    to the next level of their campaign visibility by - Planning engaging Content Strategies - Executing a Content Calendar
    Plan - Providing Content Recommendations Content Distribution and Backlink Strategy and much more whilst encompassing
    SEO best practice,
    <strong>NO TEMPLATES, AVOIDING PENALISATION</strong> and of course achieving the best results!
    <strong class="purplefont">Get in touch today!</strong>
</p>

<div class="d-grid">
    <strong class="inline-center altfont">PAID SOCIAL/SEARCH</strong>
    <img class="margin-center" src="/images/paid_social.png" alt="Illustration of a pie chart representing growth in Digital Visibility"/>
</div>
<p class="altfont nimbus justify">
    <strong class="purplefont">Upgency</strong> caters for all campaigns, using methods that include - Paid Social Strategies
    adaptable for
    <strong class="purplefont">any potential clients budget looking to expand or build their business or project.</strong>
    We can do this also by creating online banner adverts and paid search strategies, again adaptable to the client’s budget.
</p>